
<div class="contact" style="background-image: url('assets/img/work.jpg');">
    <div class="container">
        <form class="contact-inner" #form>
            <h1 class="contact-header">Contact me</h1>
            <div class="form-group">
                <label for="fullname" class="form-label">Fullname</label>
                <input #fullname type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="fullname" class="form-label">E-mail</label>
                <input #email type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="fullname" class="form-label">Telephone</label>
                <input #telephone type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="fullname" class="form-label">Message</label>
                <textarea #message class="form-control"></textarea>
            </div>
    
            <button class="btn-send">Send</button>
        </form>
    </div>
</div>

