<div class="navbar">
    <div class="container">
        <div class="navbar-inner">
            <a href="#" class="navbar-brand" #brand>HTML</a>
            <button class="navbar-toggler" #toggler (click) = "toggleActive(toggler,navbarLinks)">
                <div class="toggler toggler1"></div>
                <div class="toggler toggler2"></div>
                <div class="toggler toggler3"></div>
            </button>

            <div class="navbar-nav-red" #navbarLinks>
                <div class="navbar-nav-green">
                    <div class="navbar-nav-blue">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a routerLink = "/" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink = "contact" class="nav-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

